spring:
  profiles:
    active: local
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 50
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    root: info
