spring:
  application:
    name: deokhugam
  datasource:
    url: jdbc:h2:mem:deokhugam
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: on
      path: /h2-console
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: validate

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    com.deokhugam: debug

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true
app:
  aws:
    credentials:
      access-key: 1234
      secret-key: 1234
    region:
      static: ap-northeast-2
    s3:
      bucket: deokhugam-test-bucket

#      access-key: ${AWS_ACCESS_KEY}
#      secret-key: ${AWS_SECRET_KEY}