spring:
  profiles:
    active: local
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 50
        type:
          preferred_instant_jdbc_type: TIMESTAMP_WITH_TIMEZONE
        jdbc:
          time_zone: UTC
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    root: info

