name: CI

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  ci:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Test + JaCoCo report
        env:
          AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
          AWS_SECRET_KEY: $${{secrets.AWS_SECRET_KEY}}
        run: ./gradlew test jacocoTestReport
